@{
    ViewData["Title"] = "Home Page";
}

<h1> EMS </h1>


<div class="bg-light py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="display-4 mb-3">Employee Management Made Simple</h1>
                <p class="lead mb-4">Streamline your HR processes with our all-in-one employee management solution.</p>
                <button class="btn btn-primary btn-lg">Get Started</button>
            </div>
            <div class="col-md-6 text-center">
                <img src="https://cdn.pixabay.com/photo/2024/02/21/14/53/ai-generated-8587845_1280.png" alt="Dashboard Preview" class="img-fluid rounded shadow" />
            </div>
        </div>
    </div>
</div>